<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jimu.social.interfaces.mapper.ActivityMapper">

    <resultMap id="activity" type="com.jimu.social.interfaces.domain.Activity">
        <id column="unid"  property="unid" />
        <result column="img"  property="img" />
        <result column="name"  property="name" />
        <result column="content"  property="content" />
        <result column="address"  property="address" />
        <result column="title"  property="title" />
        <result column="price"  property="price" />
        <result column="start_time"  property="startTime" />
        <result column="end_time"  property="endTime" />
        <result column="active_time"  property="activeTime" />
        <result column="status"  property="status" />
        <result column="create_date"  property="createDate" />
    </resultMap>

    <select id="queryActivityList"  resultMap="activity">
        select * from t_activity
        <where>
            <if test="unid != null and unid != ''"> and unid = #{unid} </if>
            <if test="img != null and img != ''"> and img = #{img} </if>
            <if test="startTime != null and startTime != ''"> and start_time = #{startTime} </if>
            <if test="endTime != null and endTime != ''"> and end_time = #{endTime} </if>
            <if test="activeTime != null and activeTime != ''"> and active_time = #{activeTime} </if>
            <if test="name != null and name != ''"> and `name` = #{name} </if>
            <if test="content != null and content != ''"> and `content` = #{content} </if>
            <if test="address != null and address != ''"> and `address` = #{address} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
        </where>
        order by create_date desc
    </select>

    <select id="queryActivityPage"  resultMap="activity">
        select * from t_activity
        <where>
            <if test="unid != null and unid != ''"> and unid = #{unid} </if>
            <if test="img != null and img != ''"> and img = #{img} </if>
            <if test="startTime != null and startTime != ''"> and start_time = #{startTime} </if>
            <if test="endTime != null and endTime != ''"> and end_time = #{endTime} </if>
            <if test="activeTime != null and activeTime != ''"> and active_time = #{activeTime} </if>
            <if test="name != null and name != ''"> and `name` = #{name} </if>
            <if test="content != null and content != ''"> and `content` = #{content} </if>
            <if test="address != null and address != ''"> and `address` = #{address} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
        </where>
        order by create_date desc
        limit #{page} , #{limit}
    </select>

    <select id="count" resultType="int">
        select count(*) from t_activity
        <where>
            <if test="unid != null and unid != ''"> and unid = #{unid} </if>
            <if test="img != null and img != ''"> and img = #{img} </if>
            <if test="startTime != null and startTime != ''"> and start_time = #{startTime} </if>
            <if test="endTime != null and endTime != ''"> and end_time = #{endTime} </if>
            <if test="activeTime != null and activeTime != ''"> and active_time = #{activeTime} </if>
            <if test="name != null and name != ''"> and `name` = #{name} </if>
            <if test="content != null and content != ''"> and `name` = #{content} </if>
            <if test="address != null and address != ''"> and `address` = #{address} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
        </where>
    </select>


    <insert id="save" parameterType="com.jimu.social.interfaces.domain.Activity" >
        <selectKey keyProperty="unid" resultType="string" order="BEFORE">
            SELECT REPLACE(UUID(),'-','') FROM DUAL
        </selectKey>
        insert into t_activity(
            `unid`,`img`,`start_time`,`end_time`,`active_time`,`name`,`content`,`address`,`status`,`create_date`
        ) values(
            #{unid},#{img},#{startTime},#{endTime},#{activeTime},#{name},#{content},#{address},#{status},#{createDate}
        )
    </insert>

    <update id="updateActivity" parameterType="com.jimu.social.interfaces.domain.Activity">
        update t_activity
        <trim prefix="set" suffixOverrides=",">
            <if test="img != null and img != ''"> img = #{img}, </if>
            <if test="startTime != null and startTime != ''"> start_time = #{startTime}, </if>
            <if test="endTime != null and endTime != ''"> end_time = #{endTime}, </if>
            <if test="activeTime != null and activeTime != ''"> active_time = #{activeTime}, </if>
            <if test="name != null and name != ''"> `name` = #{name}, </if>
            <if test="content != null and content != ''"> `content` = #{content}, </if>
            <if test="address != null and address != ''"> `address` = #{address}, </if>
            <if test="status != null and status != ''"> status = #{status}, </if>
            <if test="createDate != null and createDate != ''"> create_date = #{createDate}, </if>
        </trim>
        where unid = #{unid}
    </update>
</mapper>