<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jimu.social.interfaces.mapper.AttaMapper">

    <resultMap id="atta" type="com.jimu.social.interfaces.domain.Atta">
        <id column="unid"  property="unid" />
        <result column="atta_name"  property="attaName" />
        <result column="atta_type"  property="attaType" />
        <result column="atta_path"  property="attaPath" />
        <result column="status"  property="status" />
        <result column="create_date"  property="createDate" />
    </resultMap>
    <select id="queryAttaByUserId" resultMap="atta">
        select a.* from t_user_atta ua left join t_atta a on ua.atta_unid = a.unid
        <where>
            <if test="userUnid != null and userUnid != ''"> and ua.user_unid = #{userUnid} </if>
            <if test="attaType != null and attaType != ''"> and ua.atta_type = #{attaType} </if>
        </where>
    </select>

    <insert id="save" parameterType="com.jimu.social.interfaces.domain.Atta" useGeneratedKeys="true" keyProperty="attaUnid">
        <selectKey keyProperty="attaUnid" resultType="string" order="BEFORE">
            SELECT REPLACE(UUID(),'-','') FROM DUAL
        </selectKey>
        insert into t_atta(
            `unid`,`atta_name`,`atta_type`,`atta_path`,`status`,`create_date`
        ) values(
            #{attaUnid},#{attaName},#{attaType},#{attaPath},#{status},#{createDate}
        )
    </insert>

    <insert id="saveUserAtta" parameterType="com.jimu.social.interfaces.domain.UserAtta" useGeneratedKeys="true" keyProperty="unid">
        <selectKey keyProperty="unid" resultType="string" order="BEFORE">
            SELECT REPLACE(UUID(),'-','') FROM DUAL
        </selectKey>
        insert into t_user_atta(
            `unid`,`atta_unid`,`user_unid`,`atta_type`,`status`,`create_date`
        ) values(
            #{unid},#{attaUnid},#{userUnid},#{attaType},#{status},#{createDate}
        )
    </insert>

    <update id="updateAtta" parameterType="com.jimu.social.interfaces.domain.Atta">
        update t_atta
        <trim prefix="set" suffixOverrides=",">
            <if test="attaName != null and attaName != ''"> atta_name = #{attaName}, </if>
            <if test="attaType != null and attaType != ''"> atta_type = #{attaType}, </if>
            <if test="attaPath != null and attaPath != ''"> atta_path = #{attaPath}, </if>
            <if test="status != null and status != ''"> status = #{status}, </if>
            <if test="createDate != null and createDate != ''"> createDate = #{createDate}, </if>
        </trim>
        where unid = #{unid}
    </update>

    <insert id="saveTendencyAtta" parameterType="com.jimu.social.interfaces.domain.TendencyAtta" useGeneratedKeys="true" keyProperty="unid">
        <selectKey keyProperty="unid" resultType="string" order="BEFORE">
            SELECT REPLACE(UUID(),'-','') FROM DUAL
        </selectKey>
        insert into t_tendency_atta(
        `unid`,`tendency_id`,`atta_id`,`status`,`create_date`
        ) values(
        #{unid},#{tendencyId},#{attaId},#{status},#{createDate}
        )
    </insert>
</mapper>