<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jimu.social.interfaces.mapper.SocialMapper">

    <resultMap id="social" type="com.jimu.social.interfaces.domain.Social">
        <id column="unid"  property="unid" />
        <result column="img"  property="img" />
        <result column="name"  property="name" />
        <result column="relation"  property="relation" />
        <result column="status"  property="status" />
        <result column="create_date"  property="createDate" />
    </resultMap>

    <resultMap id="userSocial" type="com.jimu.social.interfaces.domain.Social">
        <id column="unid"  property="unid" />
        <result column="img"  property="img" />
        <result column="name"  property="name" />
        <result column="relation"  property="relation" />
        <result column="status"  property="status" />
        <result column="create_date"  property="createDate" />
    </resultMap>

    <select id="querySocialList" resultType="social">
        select * from t_social
        <where>
            <if test="unid != null and unid != ''"> and unid = #{unid} </if>
            <if test="img != null and img != ''"> and img = #{img} </if>
            <if test="name != null and name != ''"> and `name` = #{name} </if>
            <if test="relation != null and relation != ''"> and relation = #{relation} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
        </where>
    </select>

    <select id="querySocialPage" resultType="social">
        select * from t_social
        <where>
            <if test="unid != null and unid != ''"> and unid = #{unid} </if>
            <if test="img != null and img != ''"> and img = #{img} </if>
            <if test="name != null and name != ''"> and `name` = #{name} </if>
            <if test="relation != null and relation != ''"> and relation = #{relation} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
        </where>
        order by create_date desc
        limit #{page} , #{limit}
    </select>

    <select id="queryUserSocial" resultType="social">
        select
        s.*
        from
        t_social s
        left join t_user_social us on s.unid = us.social_unid and us.status = 0 and s.status = 0
        left join t_user u on us.user_unid = u.unid
        <where>
            <if test="account != null and account != ''"> and u.account = #{account} </if>
        </where>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_social
        <where>
            <if test="unid != null and unid != ''"> and unid = #{unid} </if>
            <if test="img != null and img != ''"> and img = #{img} </if>
            <if test="name != null and name != ''"> and `name` = #{name} </if>
            <if test="relation != null and relation != ''"> and relation = #{relation} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
        </where>
    </select>

    <insert id="save" parameterType="com.jimu.social.interfaces.domain.Social" >
        <selectKey keyProperty="unid" resultType="string" order="BEFORE">
            SELECT REPLACE(UUID(),'-','') FROM DUAL
        </selectKey>
        insert into t_social(
        `unid`,`img`,`name`,`relation`,`status`,`create_date`
        ) values(
        #{unid},#{img},#{name},#{relation},#{status},#{createDate}
        )
    </insert>

    <insert id="saveUserSocial" parameterType="com.jimu.social.interfaces.domain.UserSocial" >
        <selectKey keyProperty="unid" resultType="string" order="BEFORE">
            SELECT REPLACE(UUID(),'-','') FROM DUAL
        </selectKey>
        insert into t_user_social(
        `unid`,`user_unid`,`social_unid`,`link`,`status`,`create_date`
        ) values(
        #{unid},#{userUnid},#{socialUnid},#{link},#{status},#{createDate}
        )
    </insert>

    <update id="updateSocial" parameterType="com.jimu.social.interfaces.domain.Social">
        update t_social
        <trim prefix="set" suffixOverrides=",">
            <if test="img != null and img != ''">img = #{img}, </if>
            <if test="name != null and name != ''">`name` = #{name}, </if>
            <if test="relation != null and relation != ''">relation = #{relation}, </if>
            <if test="status != null and status != ''">status = #{status}, </if>
            <if test="createDate != null and createDate != ''">create_date = #{createDate}, </if>
        </trim>
        where unid = #{unid}
    </update>

    <update id="updateUserSocial" parameterType="com.jimu.social.interfaces.domain.UserSocial">
        update t_user_social
        <trim prefix="set" suffixOverrides=",">
            <if test="userUnid != null and userUnid != ''">user_unid = #{userUnid}, </if>
            <if test="socialUnid != null and socialUnid != ''">`social_unid` = #{socialUnid}, </if>
            <if test="link != null and link != ''">link = #{link}, </if>
            <if test="status != null and status != ''">status = #{status}, </if>
            <if test="createDate != null and createDate != ''">create_date = #{createDate}, </if>
        </trim>
        <where>
            <if test="userUnid != null and userUnid != ''"> and user_unid = #{userUnid} </if>
            <if test="socialUnid != null and socialUnid != ''"> and `social_unid` = #{socialUnid} </if>
        </where>
    </update>


    <select id="selectUserSocialList" resultType="java.util.HashMap">
        SELECT
        t.social_unid socialUnid,
        s.name,
        COUNT(t.unid) num
        FROM
        t_user_social  t
        LEFT JOIN t_social s ON s.unid = t.social_unid
        <where>
            <if test="startDate != null and startDate != ''"> and t.create_date >= #{startDate} </if>
            <if test="endDate != null and endDate != ''"> and t.create_date &lt;= #{endDate} </if>

            <if test="unid != null and unid != ''"> and t.unid = #{unid} </if>
            <if test="userUnid != null and userUnid != ''"> and t.user_unid = #{code} </if>
            <if test="socialUnid != null and socialUnid != ''"> and t.social_unid = #{status} </if>
            <if test="link != null and link != ''"> and t.link = #{link} </if>
            <if test="status != null and status != ''"> and t.status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and t.create_date = #{createDate} </if>
        </where>
        GROUP BY
        t.social_unid
    </select>
</mapper>
