<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jimu.social.interfaces.mapper.SysUserMapper">

    <resultMap id="sysUser" type="com.jimu.social.interfaces.domain.SysUser">
        <id column="unid"  property="unid" />
        <result column="user_name"  property="userName" />
        <result column="account"  property="account" />
        <result column="password"  property="password" />
        <result column="user_role"  property="userRole" />
        <result column="sex"  property="sex" />
        <result column="telphone"  property="telphone" />
        <result column="birthday"  property="birthday" />
        <result column="remark"  property="remark" />
        <result column="status"  property="status" />
        <result column="create_date"  property="createDate" />
        <result column="img"  property="img" />
    </resultMap>
    <select id="queryUserByAccount" resultMap="sysUser">
        select * from t_sys_user
        <where>
            <if test="account != null and account != ''"> and account = #{account} </if>
        </where>
    </select>

    <select id="queryUserList" resultMap="sysUser">
        select * from t_sys_user
        <where>
            <if test="unid != null and unid != ''"> and unid = #{unid} </if>
            <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
            <if test="account != null and account != ''"> and account = #{account} </if>
            <if test="password != null and password != ''"> and password = #{password} </if>
            <if test="userRole != null and userRole != ''"> and user_role = #{userRole} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="telphone != null and telphone != ''"> and telphone = #{telphone} </if>
            <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
            <if test="remark != null and remark != ''"> and remark = #{remark} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
        </where>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_sys_user
        <where>
            <if test="unid != null and unid != ''"> and unid = #{unid} </if>
            <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
            <if test="account != null and account != ''"> and account = #{account} </if>
            <if test="password != null and password != ''"> and password = #{password} </if>
            <if test="userRole != null and userRole != ''"> and user_role = #{userRole} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="telphone != null and telphone != ''"> and telphone = #{telphone} </if>
            <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
            <if test="remark != null and remark != ''"> and remark = #{remark} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
        </where>
    </select>

    <insert id="saveSysUser" parameterType="com.jimu.social.interfaces.domain.SysUser" >
        insert into t_sys_user(
            `user_name`,`account`,`password`,`user_role`,`sex`,`telphone`,`birthday`,`remark`,`status`,`create_date`
        ) values(
            #{userName},#{account},#{password},#{userRole},#{sex},#{telphone},#{birthday},#{remark},#{status},#{createDate}
        )
    </insert>

    <update id="updateSysUser" parameterType="com.jimu.social.interfaces.domain.SysUser">
        update t_sys_user
        <trim prefix="set" suffixOverrides=",">
            <if test="userName != null and userName != ''"> user_name = #{userName}, </if>
            <if test="account != null and account != ''"> account = #{account}, </if>
            <if test="password != null and password != ''"> password = #{password}, </if>
            <if test="userRole != null and userRole != ''"> user_role = #{userRole}, </if>
            <if test="sex != null and sex != ''"> sex = #{sex}, </if>
            <if test="telphone != null and telphone != ''"> telphone = #{telphone}, </if>
            <if test="birthday != null and birthday != ''"> birthday = #{birthday}, </if>
            <if test="remark != null and remark != ''"> remark = #{remark}, </if>
            <if test="status != null and status != ''"> status = #{status}, </if>
            <if test="createDate != null and createDate != ''"> createDate = #{createDate}, </if>
        </trim>
        where unid = #{unid}
    </update>
</mapper>