<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jimu.social.interfaces.mapper.SysUserMapper">

    <resultMap id="sysUser" type="com.jimu.social.interfaces.domain.SysUser">
        <id column="unid"  property="unid" />
        <result column="user_name"  property="userName" />
        <result column="account"  property="account" />
        <result column="password"  property="password" />
        <result column="user_role"  property="userRole" />
        <result column="sex"  property="sex" />
        <result column="telphone"  property="telphone" />
        <result column="birthday"  property="birthday" />
        <result column="remark"  property="remark" />
        <result column="status"  property="status" />
        <result column="create_date"  property="createDate" />

        <collection property="groups" ofType="com.jimu.social.interfaces.domain.Group">
            <result column="name"  property="name" />
        </collection>
    </resultMap>

    <resultMap id="appUserInfo" type="com.jimu.social.interfaces.domain.SysUser">
        <id column="unid"  property="unid" />
        <result column="user_name"  property="userName" />
        <result column="account"  property="account" />
        <result column="password"  property="password" />
        <result column="user_role"  property="userRole" />
        <result column="sex"  property="sex" />
        <result column="telphone"  property="telphone" />
        <result column="birthday"  property="birthday" />
        <result column="remark"  property="remark" />
        <result column="status"  property="status" />
        <result column="create_date"  property="createDate" />

        <collection property="userPhotos" ofType="com.jimu.social.interfaces.dto.UserPhoto">
            <result column="atta_name"  property="attaName" />
            <result column="atta_type"  property="attaType" />
            <result column="atta_path"  property="attaPath" />
            <result column="file_type"  property="fileType" />
        </collection>

        <collection property="socials" ofType="com.jimu.social.interfaces.domain.Social">
            <result column="img"  property="img" />
            <result column="socialName"  property="name" />
            <result column="relation"  property="relation" />
        </collection>
    </resultMap>

    <select id="queryUserByAccount" resultMap="sysUser">
        select * from t_user
        <where>
            <if test="account != null and account != ''"> and account = #{account} </if>
        </where>
    </select>

    <select id="queryUserList" resultMap="sysUser">
        select * from t_user
        <where>
            <if test="unid != null and unid != ''"> and unid = #{unid} </if>
            <if test="userName != null and userName != ''"> and user_name like '%${userName}%' </if>
            <if test="account != null and account != ''"> and account = #{account} </if>
            <if test="password != null and password != ''"> and password = #{password} </if>
            <if test="userRole != null and userRole != ''"> and user_role = #{userRole} </if>
            <if test="sex != null and sex != '' and '0'.toString() neq sex.toString()"> and sex = #{sex} </if>
            <if test="sex != null and sex != '' and '0'.toString() eq sex.toString()">  and (sex = '0' or sex is null or sex = '') </if>
            <if test="telphone != null and telphone != ''"> and telphone like '%${telphone}%' </if>
            <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
            <if test="remark != null and remark != ''"> and remark = #{remark} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
        </where>
    </select>

    <select id="queryUserPage" resultMap="sysUser">
        select u.*,g.name from t_user u
        left join t_user_group ug on u.unid = ug.user_id
        left join t_group g on ug.group_id = g.unid
        <where>
            <if test="unid != null and unid != ''"> and u.unid = #{unid} </if>
            <if test="userName != null and userName != ''"> and u.user_name like '%${userName}%' </if>
            <if test="account != null and account != ''"> and u.account = #{account} </if>
            <if test="password != null and password != ''"> and u.password = #{password} </if>
            <if test="userRole != null and userRole != ''"> and u.user_role = #{userRole} </if>
            <if test="sex != null and sex != '' and '0'.toString() neq sex.toString()"> and u.sex = #{sex} </if>
            <if test="sex != null and sex != '' and '0'.toString() eq sex.toString()">  and (u.sex = '0' or u.sex is null or u.sex = '') </if>
            <if test="telphone != null and telphone != ''"> and u.telphone like '%${telphone}%' </if>
            <if test="birthday != null and birthday != ''"> and u.birthday = #{birthday} </if>
            <if test="remark != null and remark != ''"> and u.remark = #{remark} </if>
            <if test="status != null and status != ''"> and u.status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and u.create_date = #{createDate} </if>
        </where>
        order by u.create_date desc
        limit #{page} , #{limit}
    </select>

    <select id="count" resultType="int">
        select count(*) from t_user
        <where>
            <if test="unid != null and unid != ''"> and unid = #{unid} </if>
            <if test="userName != null and userName != ''"> and user_name like '%${userName}%' </if>
            <if test="account != null and account != ''"> and account = #{account} </if>
            <if test="password != null and password != ''"> and password = #{password} </if>
            <if test="userRole != null and userRole != ''"> and user_role = #{userRole} </if>
            <if test="sex != null and sex != '' and '0'.toString() neq sex.toString()"> and sex = #{sex} </if>
            <if test="sex != null and sex != '' and '0'.toString() eq sex.toString()">  and (sex = '0' or sex is null or sex = '') </if>
            <if test="telphone != null and telphone != ''"> and telphone like '%${telphone}%' </if>
            <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
            <if test="remark != null and remark != ''"> and remark = #{remark} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
            <if test="startDate != null and startDate != ''"> and create_date >= #{startDate} </if>
            <if test="endDate != null and endDate != ''"> and create_date &lt;= #{endDate} </if>
        </where>
    </select>

    <insert id="saveSysUser" parameterType="com.jimu.social.interfaces.domain.SysUser" useGeneratedKeys="true" keyProperty="unid">
        insert into t_user(
            `user_name`,`account`,`password`,`user_role`,`sex`,`telphone`,`birthday`,`remark`,`status`,`create_date`
        ) values(
                    #{userName},#{account},#{password},#{userRole},#{sex},#{telphone},#{birthday},#{remark},#{status},#{createDate}
                )
    </insert>

    <update id="updateSysUser" parameterType="com.jimu.social.interfaces.domain.SysUser">
        update t_user
        <trim prefix="set" suffixOverrides=",">
            <if test="userName != null and userName != ''"> user_name = #{userName}, </if>
            <if test="account != null and account != ''"> account = #{account}, </if>
            <if test="password != null and password != ''"> password = #{password}, </if>
            <if test="userRole != null and userRole != ''"> user_role = #{userRole}, </if>
            <if test="sex != null and sex != ''"> sex = #{sex}, </if>
            <if test="telphone != null and telphone != ''"> telphone = #{telphone}, </if>
            <if test="birthday != null and birthday != ''"> birthday = #{birthday}, </if>
            <if test="remark != null and remark != ''"> remark = #{remark}, </if>
            <if test="status != null and status != ''"> status = #{status}, </if>
            <if test="createDate != null and createDate != ''"> createDate = #{createDate}, </if>
        </trim>
        where unid = #{unid}
    </update>

    <select id="queryUserInfo" resultMap="appUserInfo">
        select
        u.*,
        a.*,
        ua.atta_type as file_type,
        s.*
        from
        t_user u
        left join t_user_atta ua on u.unid = ua.user_unid and ua.status = 0
        left join t_atta a on ua.atta_unid = a.unid and a.status = 0
        left join t_user_social us on u.unid = us.user_unid and us.status = 0
        left join t_social s on us.social_unid = s.unid and s.status = 0
        <where>
            <if test="unid != null and unid != ''"> and unid = #{unid} </if>
            <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
            <if test="account != null and account != ''"> and account = #{account} </if>
            <if test="password != null and password != ''"> and password = #{password} </if>
            <if test="userRole != null and userRole != ''"> and user_role = #{userRole} </if>
            <if test="sex != null and sex != ''"> and sex = #{sex} </if>
            <if test="telphone != null and telphone != ''"> and telphone = #{telphone} </if>
            <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
            <if test="remark != null and remark != ''"> and remark = #{remark} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
        </where>
    </select>
</mapper>
