<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jimu.social.interfaces.mapper.UserLoginLogMapper">

  <resultMap id="UserLoginLog" type="com.jimu.social.interfaces.domain.UserLoginLog">
    <id column="unid" jdbcType="VARCHAR" property="unid" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    unid, user_id, `status`, create_date
  </sql>
  
    <select id="queryUserLoginLogList" resultMap="UserLoginLog">
        SELECT t.unid, t.user_id, t.status, t.create_date
        FROM t_user_login_log t 
        <where>
            <if test="unid != null and unid != ''"> and t.unid = #{unid} </if>
            <if test="userId != null and userId != ''"> and t.user_id = #{userId} </if>
            <if test="status != null and status != ''"> and t.status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and t.create_date = #{createDate} </if>
        </where>
        ORDER BY t.create_date desc
    </select>
    
    
  <insert id="save" parameterType="com.jimu.social.interfaces.domain.UserLoginLog">
    <!--@mbg.generated-->
        <selectKey keyProperty="unid" resultType="string" order="BEFORE">
            SELECT REPLACE(UUID(),'-','') FROM DUAL
        </selectKey>
    insert into t_user_login_log (unid,  user_id, `status`, create_date)
    values (#{unid,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},  #{createDate,jdbcType=VARCHAR})
  </insert>
  
    <select id="count" resultType="int">
        select count(*) from t_user_login_log
        <where>
            <if test="unid != null and unid != ''"> and unid = #{unid} </if>
            <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
        </where>
    </select>
    
    <select id="selectUserLoginLogList" resultType="java.util.HashMap">
    SELECT
        t.create_date createDate,
        COUNT(t.user_id) num
    FROM(
        SELECT
            create_date, user_id, COUNT(1)
        FROM
            t_user_login_log
        <where>
            <if test="startDate != null and startDate != ''"> and create_date >= #{startDate} </if>
            <if test="endDate != null and endDate != ''"> and create_date &lt;= #{endDate} </if>
            <if test="unid != null and unid != ''"> and unid = #{unid} </if>
            <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
        </where>
        GROUP BY
            create_date, user_id
            ORDER BY create_date) t 
    GROUP BY
	    t.create_date;
    </select>
</mapper>
